.gameHistoryContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.gameHistoryContainerTitle {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

@media (max-width: 550px) {
  .gameHistoryContainerTitle {
    font-size: 16px;
    line-height: 22px;
  }
}
