.button {
  all: unset;
  cursor: pointer;
  width: 200px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: gray;
}
